# ТОКЕН ВАШЕГО ТЕЛЕГРАМ-БОТА (ПОЛУЧАТЬ В @BotFather)
BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ

# СПИСОК TELEGRAM ID АДМИНИСТРАТОРОВ И МЕНЕДЖЕРОВ ЧЕРЕЗ ЗАПЯТУЮ БЕЗ ПРОБЕЛОВ
# Первый ID в списке автоматически становится Главным админом (доступ к финансам)
ADMIN_IDS=123456789,987654321

# ССЫЛКА НА ВАШ КАНАЛ ИЛИ АККАУНТ ТЕХПОДДЕРЖКИ
SUPPORT_LINK=https://t.me
